# Materia Organica del suelo

La materia orgánica del suelo se refiere a los restos de plantas, animales y microbios, en diferentes etapas de descomposición. Consiste en:

* Organismos vivos del suelo y residuos vegetales
* Materia orgánica parcialmente descompuesta (detritus)
* Materia orgánica estable completamente descompuesta, también conocida como humus.

La mayoría de los suelos contienen 1-6% de materia orgánica.

## Beneficios de Materia Organica del suelo
* Aumenta la CIC del suelo (capacidad de intercambio catiónico)
* Mejora la estructura del suelo y su capacidad de retención de agua.
* Aporta nutrientes, principalmente nitrógeno, fósforo y azufre. Esto es resultado de la mineralización de nutrientes.
* Mejora la absorción de nutrientes por las plantas (quelación de micronutrientes).
* Aumenta la capacidad de buffer del suelo (su resistencia a cambios en el pH).
* Mejora la biodiversidad del suelo.
* Los microorganismos descomponen la materia orgánica en moléculas pequeñas hasta que se forma un humus estable. El humus no aporta muchos nutrientes al suelo, debido a que ya está descompuesto y es estable.

<img src="Image/MO.png" width="700" heigth="280">

## Suelo Agrícola 
Decimos que un suelo es agrícola cuando reúne ciertas características que lo hacen apto para la agricultura. En primer lugar, se debe decir que un suelo debe de ser capaz de sostener la vida vegeta,. Y para ser agrícola, debe de ser capaz de ser cultivado por el hombre y obtener de esta actividad alimentos saludables (no existen contaminantes en el mismo) y en buena cantidad.

## Clasificación de la materia organica

| N  | Disponibilidad | Materia Orgánica % |
| :---: | :---: | :---: |
| 1  | Bajo | 0 - 2 |
| 2 | Medio | 2 - 4 |
| 3 | Alto| > 4 |

In [3]:
# Definir los límites de los rangos
rangos <- c(0, 2, 4, Inf)

In [4]:
# Definir las etiquetas para los rangos
etiquetas <- c("0 - 2", "2 - 4", "> 4")

In [5]:
# Definir las descripciones para los rangos
descripciones <- c("Bajo", "Medio", "Alto")

In [1]:
# Agregar datos
suelo <- read.csv(r"(E:\RStudio\01_Interpretacion_Analisis_Fertilidad_Suelo\Datos\Resultados\01_Datos_suelo_CAP.csv)",
                  sep = ",")

In [2]:
# Leyendo las tres primeras líneas
head(suelo,3)

  X ID ESTE   NORTE   pH   CE   MO   N    P     K    ⋯ BT   SAl   Arena Limo
1 1 1  512538 9056311 4.32 1.20 1.48 0.07 27.91 0.21 ⋯ 0.48 79.69 62.9  16.16
2 2 2  512126 9057087 5.00 0.13 2.29 0.11  2.28 0.18 ⋯ 2.67 29.14 54.9  20.16
3 3 3  512766 9056489 4.58 0.16 1.61 0.08  3.68 0.16 ⋯ 0.37 85.09 62.9  16.16
  Arcilla lista_textura Grupo              Nom_textura            DA_T_M3
1 20.94   SaClLo        Moderadamente fina Franco arcillo arenoso 1.45
2 24.94   SaClLo        Moderadamente fina Franco arcillo arenoso 1.45
3 20.94   SaClLo        Moderadamente fina Franco arcillo arenoso 1.45
  Peso_C_A
1 2900
2 2900
3 2900

In [13]:
suelo_MO = suelo[,c(2,7,23,24)]
head(suelo_MO,4)

  ID MO   DA_T_M3 Peso_C_A
1 1  1.48 1.45    2900
2 2  2.29 1.45    2900
3 3  1.61 1.45    2900
4 4  2.15 1.30    2600

In [14]:
# Agregar una nueva columna con los rangos y descripciones
suelo_MO$rango <- cut(suelo_MO$MO, breaks = rangos, labels = etiquetas)
suelo_MO$descripcion <- descripciones[cut(suelo_MO$MO, breaks = rangos)]

In [15]:
head(suelo_MO,4)

  ID MO   DA_T_M3 Peso_C_A rango descripcion
1 1  1.48 1.45    2900     0 - 2 Bajo
2 2  2.29 1.45    2900     2 - 4 Medio
3 3  1.61 1.45    2900     0 - 2 Bajo
4 4  2.15 1.30    2600     2 - 4 Medio

In [18]:
suelo_MO$MO_round = ceiling(suelo_MO$MO)

In [19]:
head(suelo_MO,4)

  ID MO   DA_T_M3 Peso_C_A rango descripcion MO_round
1 1  1.48 1.45    2900     0 - 2 Bajo        2
2 2  2.29 1.45    2900     2 - 4 Medio       3
3 3  1.61 1.45    2900     0 - 2 Bajo        2
4 4  2.15 1.30    2600     2 - 4 Medio       3